body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;

    &.wrapper-full-page {
        min-height: 100vh;
        height: auto;
    }
}
